.fondo{
    background-color: black;
    width: 5em;
    height: 15em;
}

.circulo{
    border-radius:50% ;
    min-width: 3em;
    min-height: 3rem;
    margin: 1em 0.5em 0 0.5em;
}


.red{
    background-color: #350c10;
}

.yellow{
    background-color: #38311c;
}

.green{
    background-color: #102e20;
}

.red.active{
    background-color: #dc3545;
}

.yellow.active{
    background-color: #ffc107;
}

.green.active{
    background-color: #198754;
}